
@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="~/Styles/loginStyle.css">
</head>
<body>
    
    <div class="login-container">
        <h1 class="title">TITLE</h1>
        <form class="login-form" method="post" action="@Url.Action("UserLogin")">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <a href="@Url.Action("Register","Home")" class="link">Don’t have an account</a>
            <select name="role">
                <option value="default">Role</option>
                <option value="admin">Admin</option>
                <option value="student">Student</option>
                <option value="instructor">Instructor</option>
            </select>
            <button type="submit" class="login-button">LOGIN</button>
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage as string))
            {
                <div class="alert-danger">@ViewBag.ErrorMessage</div>
            }

            @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage as string))
            {
                <div class="alert-success">@ViewBag.SuccessMessage</div>
            }
        </form>
    </div>


</body>
</html>
